.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin: auto auto auto auto;
    max-width: 90vh;
}
.grid_cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    aspect-ratio: 1/1;
    font-size: 64px;
}
.row1 {
    border-top-color: #ffffff;
}
.row3 {
    border-bottom-color: #ffffff;
}
.column1 {
    border-left-color: #ffffff;
}
.column3 {
    border-right-color: #ffffff;
}
.win_message, .tie_message, .thanks_message {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}
.play_again_button {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}
.end_button {
    grid-row: 2/span 1;
    grid-column: 3/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}
