.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    margin: auto auto auto auto;
    max-width: 84vh;
}
.grid_cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000;
    aspect-ratio: 1/1;
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
}
.row1 {
    border-top-color: #ffffff;
}
.row3 {
    border-bottom-color: #ffffff;
}
.column1 {
    border-left-color: #ffffff;
}
.column3 {
    border-right-color: #ffffff;
}
.win_message, .tie_message {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    font-family: Arial, Helvetica, sans-serif;
}
.play_again_button, .end_button, .new_session_button {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,0.1);
    border: 2px solid #ffffff;
}
.inputBox {
    padding: 10px;
    border: 2px solid #eeeeee;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
.checkbox {
    padding: 10px;
    border: 2px solid #eeeeee;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
}
.play_again_button {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius:16px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.end_button {
    grid-row: 2/span 1;
    grid-column: 3/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius:16px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.link_container{
    text-decoration: none;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.new_session_button {
    grid-row: 3/span 1;
    grid-column: 2/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius:16px;
    font-size: 30px;
    aspect-ratio: 1/1;
    font-family: Arial, Helvetica, sans-serif;
}
.thanks_message {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.play_again_button:hover, .end_button:hover, .new_session_button:hover {
    background-color: #32527B;
}
*, *:before, *:after {
    box-sizing: border-box;
}  
.game_info {
    display: inline-flex;
    margin: 0px 20px;
}
.player_turn {
    position: absolute;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.win_count {
    position: absolute;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.player_one_name {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.player_two_name {
    grid-row: 1/span 1;
    grid-column: 3/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.player_one_symbol {
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.player_two_symbol {
    grid-row: 2/span 1;
    grid-column: 3/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.ai_checkbox {
    grid-row: 2/span 1;
    grid-column: 2/span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
